@import '../../constants/constants-styles';

.main {
  height: 100%;
  background-color: #fff;
}
.admin-page {
  height: 100vh;
  background-image: linear-gradient(111.1deg, #15a984 -4.8%, #04130f 82.7%, rgb(255 255 255) 97.2%);

  &__sidebar-title {
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    opacity: 0.5;
  }

  .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 77px;
    padding: 16px 16px 16px 24px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
  }
  .site-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: transparent;
  }
  .site-layout .site-layout-background {
    background: #fff;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }

  &__side-scroll-block {
    padding-bottom: 30px;
  }
}
