@import 'src/constants/constants-styles';

.domainsTable {
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

.tableTools {
  &__row {
    justify-content: space-between;
  }

  &__paidTrial {
    text-align: right;
  }

  &__search {
    width: 300px;
  }
}

