@import './constants/constants-styles.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: $primaryFont;
  margin: 0;

  .ant-menu-inline-collapsed-tooltip {
    a {
      color: $clr-super-light;
    }
  }
}

.ant-input-number-handler-wrap {
  visibility: hidden;
}

.ant-card,
.ant-list,
.ant-form-item-explain,
.ant-form-item-extra,
.ant-select,
.ant-btn-sm,
.ant-form-item,
.ant-input,
.ant-input-number-input,
.ant-badge-status-text,
.ant-picker-input > input,
.ant-select-item,
.ant-table table, .ant-tag {
  font-size: 10px;
}

.ant-menu {
  font-size: 12px !important;
}

.ant-list-split .ant-list-items .ant-list-item {
  border-width: 0;
}

input {
  font-family: 'Montserrat', sans-serif;
}

.domain-detailed {
  .ant-menu, .ant-card, .ant-layout, .ant-table, .ant-table-cell-fix-left {
    background-color: transparent;
  }

  .ant-tag {
    .ant-tag-green {
      background-color: #f6ffed77;
    }

    .ant-tag-red {
      background-color: #fff1f077;
    }
  }
}
